.carousel-item {
  height: 80vh;
  overflow: hidden;
}
.carousel-item img {
  object-fit: cover;
}

.search-box {
    width: 4%;
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-top: -40px;
  font-size: 30px;
  /* display: flex;
  text-align: center;
  justify-content: center; */
  width: max-content;
}

.btn-pink {
  background: #ff5d96;
  color: white;
}

.btn-pink:hover {
  background: #ff4688;
  color: white;
}

span{
    color: #d489a7;
    font-weight: 800;
    outline: none;
    text-decoration: none;
}   
.city-select{
    border:none;
}
.city-select :focus{
    outline: none;
    box-shadow: none;
}
.city-select option{
    color: #879ae6 !important;
    font-weight: 800;
    outline: none;
    text-decoration: none;
}
a{
    text-decoration: none;
    
}
.col svg{
    height: 100px;
    width: 100px;
}
.col>p{
    margin-top: 2px;   
    font-size: 30px;
}
.highlight-card img{
    height:420px;
    width:70vw;
    object-fit:cover;
    border-radius:15px;
}